/*Colors*/
:root{
    --clr-primary: #2B2B2B;
    --clr-light-dark: #333333;
    --clr-purple: #BFAFF2;
    --clr-light-orange: #F8D57E;
}

/*Global*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--clr-primary);
}

p{
    font-size: 18px;
    opacity: 0.4;
    color: white;
}

.logo{
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.btn-purple{
    border: none;
    border-radius: 15px;
    background-color: var(--clr-purple);    
    color: white;
    padding: 10px 60px;
}

.btn-primary{
    border: none;
    border-radius: 15px;
    background-color: var(--clr-light-orange);
    color: var(--clr-light-dark);
    padding: 10px 35px;
}

/*Navigation*/

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 25px 50px;
}

.navigation a{
    margin-left: auto;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/*Hero*/

.hero{
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .image-holder{
    background-color: var(--clr-light-dark);
}

.questions-main{
    display: block;
    width: 50%;
}

.main-section-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
    width: 60%;
    padding-bottom: 16px;
}

.main-section-description{
    width: 45%;
    padding-bottom: 36px;
}

/*Partners*/

.partners{
    margin-top: 64px    ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-logo{
    transform: scale(0.7);
    object-fit: cover;
}