/*Colors*/
:root{
    --clr-primary: #2B2B2B;
    --clr-light-dark: #333333;
    --clr-purple: #BFAFF2;
    --clr-light-orange: #F8D57E;
    --clr-lighter-orange: #FDF5DF;
}

/*Global*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--clr-primary);
}

p{
    font-size: 18px;
    opacity: 0.4;
    color: white;
}

.logo{
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.btn-purple{
    border: none;
    border-radius: 15px;
    background-color: var(--clr-purple);    
    color: white;
    padding: 10px 60px;
}

.btn-primary{
    border: none;
    border-radius: 15px;
    background-color: var(--clr-light-orange);
    color: var(--clr-light-dark);
    padding: 10px 35px;
}

/*Navigation*/

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 25px 50px;
}

.navigation a{
    margin-left: auto;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/*Hero*/

.hero{
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .image-holder{
    background-color: var(--clr-light-dark);
}

.questions-main{
    display: block;
    width: 50%;
}

.main-section-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
    width: 60%;
    padding-bottom: 16px;
}

.main-section-description{
    width: 45%;
    padding-bottom: 36px;
}

/*Partners*/

.partners{
    margin: 64px auto;
    width: 77%;
    border-top: 1px solid var(--clr-light-dark);
    border-bottom: 1px solid var(--clr-light-dark);
    padding: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-logo{
    transform: scale(0.7);
    object-fit: cover;
}

/*Dashboard showcase*/

.dashboard-showcase .image-holder{
    width: 80%;
    background-color: var(--clr-lighter-orange);
    border-radius: 15px;
    margin: 0px auto;
}


/*Benefits*/

.benefits-grid{
    margin: 150px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
    width: 60%;
}


.benefits-card{
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.benefit-card-description{
    width: 80%;
}


.benefit-card-title{
    font-size: 18px;
    color: white;
    font-weight: 600;
}

/*Testimonial*/

.testimonial-card{
    width: 70%;
    margin: 64px auto;
    padding: 84px 168px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    background-color: var(--clr-purple);
}

.testimonial-text{
    width: 70%;
    font-size: 24px;
    font-weight: 600;
    color: var(--clr-primary);
    opacity: 1;
}

.testimonial-author-info{
    display: flex;  
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.testimonial-author-info img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}


/*Questions*/

.questions{
    margin: 64px 0px;
    display: flex;
    justify-content: center;
}

.questions-main{
    width: 44%;
}


/*Footer*/

footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
    border-top: 1px solid var(--clr-light-dark);
    padding: 64px 0px;
}

.footer-links li{
    display: inline;
    margin-left: 16px;
}

.footer-links span{
    color: white;
}

.footer-links li a{
    text-decoration: none;
    color: white;
}




.footer-newsletter span{
    display: block;
    color: white;
    padding-bottom: 4px;
}

.footer-newsletter input{
    padding: 12px 30px;
    border: none;
    border-radius: 15px;
    background-color: var(--clr-light-dark);
    color: rgba(255, 255, 255, 0.400);
    margin-right: 16px;
}